## Docs

- https://docs.python.org/2/library/sqlite3.html
- http://www.sqlite.org/pragma.html#pragma_table_info

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect("try_sql.db") # It is equivalent to create a database in SQL

In [5]:
c = conn.cursor()

In [6]:
c.execute("CREATE TABLE my_contacts ( \
         last_name VARCHAR(30), \
         first_name VARCHAR(20), \
         email VARCHAR(50), \
         gender CHAR(1), \
         birthday DATE, \
         profession VARCHAR(50), \
         location VARCHAR(50), \
         status VARCHAR(20), \
         interests VARCHAR(100), \
         seeking VARCHAR(100) \
         )")

In [7]:
c.execute("CREATE TABLE my_contacts ( \
         last_name VARCHAR(30), \
         first_name VARCHAR(20), \
         email VARCHAR(50), \
         gender CHAR(1), \
         birthday DATE, \
         profession VARCHAR(50), \
         location VARCHAR(50), \
         status VARCHAR(20), \
         interests VARCHAR(100), \
         seeking VARCHAR(100) \
         )") # You cannot create a table with the same name again. (Drop it first!)

OperationalError: table my_contacts already exists

In [9]:
c.execute("""INSERT INTO my_contacts
            (last_name, first_name, email, gender, birthday,
            profession, location, status, interests, seeking)
            VALUES
            ('Anderson', 'Jullian', 'jill_anderson@gmail.com', 'F',
            '1980-09-05', 'Technical Writer', 'Palo Alto, CA', 'Single',
            'Kayaking, Reptiles', 'Relationship, Friends')
          """)

In [10]:
conn.commit() # Saving the data.

In [4]:
c.execute("""SELECT * FROM my_contacts""")

In [14]:
print(c.fetchone()) # Fetching data

('Anderson', 'Jullian', 'jill_anderson@gmail.com', 'F', '1980-09-05', 'Technical Writer', 'Palo Alto, CA', 'Single', 'Kayaking, Reptiles', 'Relationship, Friends')

In [15]:
print(c.fetchone()) # c is a cursor (a generator-like obj).

None

In [24]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [5]:
print(c.fetchall())

[('Anderson', 'Jullian', 'jill_anderson@gmail.com', 'F', '1980-09-05', 'Technical Writer', 'Palo Alto, CA', 'Single', 'Kayaking, Reptiles', 'Relationship, Friends')]

In [27]:
c.execute("PRAGMA table_info('my_contacts')")

In [28]:
print(c.fetchall())

[(0, 'last_name', 'VARCHAR(30)', 0, None, 0), (1, 'first_name', 'VARCHAR(20)', 0, None, 0), (2, 'email', 'VARCHAR(50)', 0, None, 0), (3, 'gender', 'CHAR(1)', 0, None, 0), (4, 'birthday', 'DATE', 0, None, 0), (5, 'profession', 'VARCHAR(50)', 0, None, 0), (6, 'location', 'VARCHAR(50)', 0, None, 0), (7, 'status', 'VARCHAR(20)', 0, None, 0), (8, 'interests', 'VARCHAR(100)', 0, None, 0), (9, 'seeking', 'VARCHAR(100)', 0, None, 0)]

In [7]:
c.execute("""DROP TABLE my_contacts""")

In [14]:
conn.commit()

In [8]:
c.execute("CREATE TABLE my_contacts ( \
         last_name VARCHAR(30) NOT NULL, \
         first_name VARCHAR(20) NOT NULL, \
         email VARCHAR(50) NOT NULL, \
         gender CHAR(1) NOT NULL, \
         birthday DATE NOT NULL, \
         profession VARCHAR(50) NOT NULL, \
         location VARCHAR(50) NOT NULL, \
         status VARCHAR(20) NOT NULL, \
         interests VARCHAR(100) NOT NULL, \
         seeking VARCHAR(100) NOT NULL\
         )")

In [16]:
conn.commit()

In [17]:
c.execute("PRAGMA table_info('my_contacts')")

In [18]:
print(c.fetchall()) # (key, col_name, type, not_null, default_value, extra)

[(0, 'last_name', 'VARCHAR(30)', 1, None, 0), (1, 'first_name', 'VARCHAR(20)', 1, None, 0), (2, 'email', 'VARCHAR(50)', 1, None, 0), (3, 'gender', 'CHAR(1)', 1, None, 0), (4, 'birthday', 'DATE', 1, None, 0), (5, 'profession', 'VARCHAR(50)', 1, None, 0), (6, 'location', 'VARCHAR(50)', 1, None, 0), (7, 'status', 'VARCHAR(20)', 1, None, 0), (8, 'interests', 'VARCHAR(100)', 1, None, 0), (9, 'seeking', 'VARCHAR(100)', 1, None, 0)]

In [19]:
c.execute("""CREATE TABLE doughnut_list (
    doughnut_name VARCHAR(10) NOT NULL,
    doughnut_type VARCHAR(6),
    doughnut_price DEC(3, 2) NOT NULL DEFAULT 1.00
    )
    """)

In [20]:
conn.commit()

In [21]:
c.execute("PRAGMA table_info('doughnut_list')")

In [22]:
print(c.fetchall())

[(0, 'doughnut_name', 'VARCHAR(10)', 1, None, 0), (1, 'doughnut_type', 'VARCHAR(6)', 0, None, 0), (2, 'doughnut_price', 'DEC(3, 2)', 1, '1.00', 0)]

In [13]:
c.execute("SELECT * FROM my_contacts")

In [18]:
c.description

(('last_name', None, None, None, None, None, None),
 ('first_name', None, None, None, None, None, None),
 ('email', None, None, None, None, None, None),
 ('gender', None, None, None, None, None, None),
 ('birthday', None, None, None, None, None, None),
 ('profession', None, None, None, None, None, None),
 ('location', None, None, None, None, None, None),
 ('status', None, None, None, None, None, None),
 ('interests', None, None, None, None, None, None),
 ('seeking', None, None, None, None, None, None))

In [15]:
rows = c.fetchall()

In [16]:
rows

[('Anderson',
  'Jullian',
  'jill_anderson@gmail.com',
  'F',
  '1980-09-05',
  'Technical Writer',
  'Palo Alto, CA',
  'Single',
  'Kayaking, Reptiles',
  'Relationship, Friends')]