In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("drinks.db")

In [3]:
c = conn.cursor()

In [8]:
c.execute("""CREATE TABLE easy_drinks( \
            drink_name VARCHAR(20) NOT NULL, \
            main VARCHAR(20) NOT NULL, \
            amount1 DEC(1, 2) NOT NULL, \
            second VARCHAR(20) NOT NULL, \
            amount2 DEC(1, 2) NOT NULL,
            dirctions BLOB)
        """)

In [9]:
conn.commit()

In [10]:
data = [
    ('Blackthorn', 'tonic water', 1.5, 'pineapple juice', 1, "stir w/t ice, strain into cocktail glass with lemon twist"),
    ('Blue Moon', 'soda', 1.5, 'blueberry juice', 0.75, 'stir w/t ice, strain into cocktail glass with lemon twist'),
    ('Oh My Gosh', 'peach nectar', 1, 'pineapple juice', 1, 'stir w/t ice, strain into shot glass'),
    ('Lime Fizz', 'Sprite', 1.5, 'lime juice', 0.75, 'stir w/t ice, strain into cocktail glass'),
    ('Kiss on the Lips', 'cherry juice', 2, 'apricot nectar', 7, 'serve over ice with straw'),
    ('Hot Gold', 'peach nectar', 3, 'orange juice', 6, 'pour hot orange juice in mug and add peach nectar'),
    ('Lone Tree', 'soda', 1.5, 'cherry juice', 0.75,  'stir w/t ice, strain into cocktail glass'),
    ('Greyhound', 'soda', 1.5, 'grapefruit juice', 5, 'serve over ice, stir well'),
    ('Indian Summer', 'apple juice', 2, 'hot tea', 6, 'add juice to mug and top off with hot tea'),
    ('Bull Frog', 'iced tea', 1.5, 'lemonade', 5, 'serve over ice with lime slice'),
    ('Soda and It', 'soda', 2, 'grape juice', 1, 'shake in cocktail glass, no ice')
]

In [11]:
for d in data:
    c.execute("INSERT INTO easy_drinks VALUES (?, ?, ?, ?, ?, ?)", d)

In [12]:
conn.commit()

In [13]:
c.execute("SELECT * FROM easy_drinks")

In [14]:
for row in c.fetchall():
    print(row)

('Blackthorn', 'tonic water', 1.5, 'pineapple juice', 1, 'stir w/t ice, strain into cocktail glass with lemon twist')
('Blue Moon', 'soda', 1.5, 'blueberry juice', 0.75, 'stir w/t ice, strain into cocktail glass with lemon twist')
('Oh My Gosh', 'peach nectar', 1, 'pineapple juice', 1, 'stir w/t ice, strain into shot glass')
('Lime Fizz', 'Sprite', 1.5, 'lime juice', 0.75, 'stir w/t ice, strain into cocktail glass')
('Kiss on the Lips', 'cherry juice', 2, 'apricot nectar', 7, 'serve over ice with straw')
('Hot Gold', 'peach nectar', 3, 'orange juice', 6, 'pour hot orange juice in mug and add peach nectar')
('Lone Tree', 'soda', 1.5, 'cherry juice', 0.75, 'stir w/t ice, strain into cocktail glass')
('Greyhound', 'soda', 1.5, 'grapefruit juice', 5, 'serve over ice, stir well')
('Indian Summer', 'apple juice', 2, 'hot tea', 6, 'add juice to mug and top off with hot tea')
('Bull Frog', 'iced tea', 1.5, 'lemonade', 5, 'serve over ice with lime slice')
('Soda and It', 'soda', 2, 'grape juice', 1, 'shake in cocktail glass, no ice')

In [15]:
c.execute("SELECT * FROM easy_drinks WHERE main = 'Sprite'")
for row in c.fetchall():
    print(row)

('Lime Fizz', 'Sprite', 1.5, 'lime juice', 0.75, 'stir w/t ice, strain into cocktail glass')

In [16]:
c.execute("SELECT * FROM easy_drinks WHERE main = soda")
for row in c.fetchall():
    print(row)

OperationalError: no such column: soda

In [17]:
c.execute("SELECT * FROM easy_drinks WHERE amount2 = 6")
for row in c.fetchall():
    print(row)

('Hot Gold', 'peach nectar', 3, 'orange juice', 6, 'pour hot orange juice in mug and add peach nectar')
('Indian Summer', 'apple juice', 2, 'hot tea', 6, 'add juice to mug and top off with hot tea')

In [18]:
c.execute("SELECT * FROM easy_drinks WHERE second = 'orange juice'")
for row in c.fetchall():
    print(row)

('Hot Gold', 'peach nectar', 3, 'orange juice', 6, 'pour hot orange juice in mug and add peach nectar')

In [19]:
c.execute("SELECT * FROM easy_drinks WHERE amount1 < 1.5")
for row in c.fetchall():
    print(row)

('Oh My Gosh', 'peach nectar', 1, 'pineapple juice', 1, 'stir w/t ice, strain into shot glass')

In [20]:
c.execute("SELECT * FROM easy_drinks WHERE amount2 < 1")
for row in c.fetchall():
    print(row)

('Blue Moon', 'soda', 1.5, 'blueberry juice', 0.75, 'stir w/t ice, strain into cocktail glass with lemon twist')
('Lime Fizz', 'Sprite', 1.5, 'lime juice', 0.75, 'stir w/t ice, strain into cocktail glass')
('Lone Tree', 'soda', 1.5, 'cherry juice', 0.75, 'stir w/t ice, strain into cocktail glass')

In [21]:
c.execute("SELECT * FROM easy_drinks WHERE main > 'soda'")
for row in c.fetchall():
    print(row)

('Blackthorn', 'tonic water', 1.5, 'pineapple juice', 1, 'stir w/t ice, strain into cocktail glass with lemon twist')

In [22]:
c.execute("SELECT * FROM easy_drinks WHERE amount1 = '1.5'")
for row in c.fetchall():
    print(row)

('Blackthorn', 'tonic water', 1.5, 'pineapple juice', 1, 'stir w/t ice, strain into cocktail glass with lemon twist')
('Blue Moon', 'soda', 1.5, 'blueberry juice', 0.75, 'stir w/t ice, strain into cocktail glass with lemon twist')
('Lime Fizz', 'Sprite', 1.5, 'lime juice', 0.75, 'stir w/t ice, strain into cocktail glass')
('Lone Tree', 'soda', 1.5, 'cherry juice', 0.75, 'stir w/t ice, strain into cocktail glass')
('Greyhound', 'soda', 1.5, 'grapefruit juice', 5, 'serve over ice, stir well')
('Bull Frog', 'iced tea', 1.5, 'lemonade', 5, 'serve over ice with lime slice')

In [23]:
c.close()
conn.close()

In [24]:
conn = sqlite3.connect("try_sql.db")

In [25]:
c = conn.cursor()

In [26]:
c.execute("SELECT * FROM sqlite_master WHERE type='table'")

In [27]:
for row in c.fetchall():
    print(row)

('table', 'doughnut_list', 'doughnut_list', 3, 'CREATE TABLE doughnut_list (\n    doughnut_name VARCHAR(10) NOT NULL,\n    doughnut_type VARCHAR(6),\n    doughnut_price DEC(3, 2) NOT NULL DEFAULT 1.00\n    )')
('table', 'my_contacts', 'my_contacts', 2, 'CREATE TABLE my_contacts (          last_name VARCHAR(30) NOT NULL,          first_name VARCHAR(20) NOT NULL,          email VARCHAR(50) NOT NULL,          gender CHAR(1) NOT NULL,          birthday DATE NOT NULL,          profession VARCHAR(50) NOT NULL,          location VARCHAR(50) NOT NULL,          status VARCHAR(20) NOT NULL,          interests VARCHAR(100) NOT NULL,          seeking VARCHAR(100) NOT NULL         )')

In [28]:
c.execute("SELECT * FROM sqlite_master")

In [29]:
for row in c.fetchall():
    print(row)

('table', 'doughnut_list', 'doughnut_list', 3, 'CREATE TABLE doughnut_list (\n    doughnut_name VARCHAR(10) NOT NULL,\n    doughnut_type VARCHAR(6),\n    doughnut_price DEC(3, 2) NOT NULL DEFAULT 1.00\n    )')
('table', 'my_contacts', 'my_contacts', 2, 'CREATE TABLE my_contacts (          last_name VARCHAR(30) NOT NULL,          first_name VARCHAR(20) NOT NULL,          email VARCHAR(50) NOT NULL,          gender CHAR(1) NOT NULL,          birthday DATE NOT NULL,          profession VARCHAR(50) NOT NULL,          location VARCHAR(50) NOT NULL,          status VARCHAR(20) NOT NULL,          interests VARCHAR(100) NOT NULL,          seeking VARCHAR(100) NOT NULL         )')

In [30]:
c.execute("PRAGMA table_info(my_contacts)")
print(c.fetchall())

[(0, 'last_name', 'VARCHAR(30)', 1, None, 0), (1, 'first_name', 'VARCHAR(20)', 1, None, 0), (2, 'email', 'VARCHAR(50)', 1, None, 0), (3, 'gender', 'CHAR(1)', 1, None, 0), (4, 'birthday', 'DATE', 1, None, 0), (5, 'profession', 'VARCHAR(50)', 1, None, 0), (6, 'location', 'VARCHAR(50)', 1, None, 0), (7, 'status', 'VARCHAR(20)', 1, None, 0), (8, 'interests', 'VARCHAR(100)', 1, None, 0), (9, 'seeking', 'VARCHAR(100)', 1, None, 0)]

In [42]:
c.execute("""INSERT INTO my_contacts
            VALUES
            ('Funyon', 'Steve', 'steve@gmail.com', 'M', '1970-04-01',
            'Punk', "Gover\'s Mill, NJ", 'Single', 'smashing the state',
            'compatriots, guitar players');""")

In [43]:
conn.commit()

In [44]:
c.execute("SELECT * FROM my_contacts WHERE last_name = 'Funyon'")

In [45]:
print(c.fetchall())

[('Funyon', 'Steve', 'steve@gmail.com', 'M', '1970-04-01', 'Punk', "Gover's Mill, NJ", 'Single', 'smashing the state', 'compatriots, guitar players')]

In [47]:
c.close()
conn.close()

In [48]:
conn = sqlite3.connect("drinks.db")

In [56]:
c = conn.cursor()
c.execute("""CREATE TABLE drink_info( \
                drink_name VARCHAR(30) NOT NULL,\
                cost DEC(2,2) NOT NULL, \
                carbs DEC(3, 2), \
                color VARCHAR(30), \
                ice CHAR(1), \
                colories DEC(4, 2) \
              );""")

In [57]:
conn.commit()

In [59]:
data = [
    ('Blackthorn', 3, 8.4, 'yellow', 'Y', 33),
    ('Blue Moon', 2.5, 3.2, 'blue', 'Y', 12),
    ('Oh My Gosh', 3.5, 8.6, 'orange', 'Y', 35),
    ('Lime Fizz', 2.5, 5.4, 'green', 'Y', 24),
    ('Kiss on the Lips', 5.5, 42.5, 'purple', 'Y', 171),
    ('Hot Gold', 3.2, 32.1, 'orange', 'N', 135),
    ('Lone Tree', 3.6, 4.2, 'red', 'Y', 50),
    ('Greyhound', 4, 14, 'yellow', 'Y', 50),
    ('Indian Summer', 2.8, 7.2, 'brown', 'N', 30),
    ('Bull Frog', 2.6, 21.5, 'tan', 'Y', 80),
    ('Soda and It', 3.8, 4.7, 'red', 'N', 19)
]

In [60]:
with conn:
    c = conn.cursor()
    c.executemany("INSERT INTO drink_info VALUES (?,?,?,?,?,?)", data)
    c.close()
    conn.commit()

In [61]:
with conn:
    c = conn.cursor()
    c.execute("SELECT * FROM drink_info")
    for row in c.fetchall():
        print(row)

('Blackthorn', 3, 8.4, 'yellow', 'Y', 33)
('Blue Moon', 2.5, 3.2, 'blue', 'Y', 12)
('Oh My Gosh', 3.5, 8.6, 'orange', 'Y', 35)
('Lime Fizz', 2.5, 5.4, 'green', 'Y', 24)
('Kiss on the Lips', 5.5, 42.5, 'purple', 'Y', 171)
('Hot Gold', 3.2, 32.1, 'orange', 'N', 135)
('Lone Tree', 3.6, 4.2, 'red', 'Y', 50)
('Greyhound', 4, 14, 'yellow', 'Y', 50)
('Indian Summer', 2.8, 7.2, 'brown', 'N', 30)
('Bull Frog', 2.6, 21.5, 'tan', 'Y', 80)
('Soda and It', 3.8, 4.7, 'red', 'N', 19)

In [63]:
c.description

(('drink_name', None, None, None, None, None, None),
 ('cost', None, None, None, None, None, None),
 ('carbs', None, None, None, None, None, None),
 ('color', None, None, None, None, None, None),
 ('ice', None, None, None, None, None, None),
 ('colories', None, None, None, None, None, None))

In [67]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name FROM drink_info
    WHERE
    cost >= 3.5
    AND
    colories < 50;
    """)
    for row in c.fetchall():
        print(row)

('Oh My Gosh',)
('Soda and It',)

In [68]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name, cost FROM drink_info
    WHERE
    ice = 'Y'
    AND
    colories > 33
    AND
    color = 'yellow';
    """
    )
    for row in c.fetchall():
        print(row)

('Greyhound', 4)

In [69]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name, color FROM drink_info
    WHERE ice = 'Y'
    AND
    carbs < 4;
    """)
    for row in c.fetchall():
        print(row)

('Blue Moon', 'blue')

In [70]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT cost FROM drink_info
    WHERE colories >= 80;
    """
    )
    for row in c.fetchall():
        print(row)

(5.5,)
(3.2,)
(2.6,)

In [72]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name, color, ice FROM drink_info
    WHERE drink_name = 'Greyhound'
    OR
    drink_name = 'Kiss on the Lips';
    """
    )
    for row in c.fetchall():
        print(row)

('Kiss on the Lips', 'purple', 'Y')
('Greyhound', 'yellow', 'Y')

In [73]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name, color, ice FROM drink_info
    WHERE drink_name IN ('Greyhound', 'Kiss on the Lips');
    """
    )
    for row in c.fetchall():
        print(row)

('Kiss on the Lips', 'purple', 'Y')
('Greyhound', 'yellow', 'Y')

In [80]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT drink_name FROM drink_info
    WHERE cost = 3 AND color='yellow' OR colories = 135 AND ice = 'N' OR carbs = 14
    """)
    for row in c.fetchall():
        print(row)

('Blackthorn',)
('Hot Gold',)
('Greyhound',)