In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("clown.sql")

In [8]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    CREATE TABLE clown_info(
    name VARCHAR(20) NOT NULL,
    last_seen VARCHAR(50),
    appearance VARCHAR(50),
    activities VARCHAR(30));
    """
    )

In [9]:
conn.commit()

In [12]:
data = [
    ("Elsie", 'Cherry Hill Senior Center', "F, red hair, green dress, huge feet", 'ballons, little car'),
    ("Pickles", 'Jack Green\'s party', "M, orange hair, blue suit, huge feet", 'mime'),
    ("Snuggles", 'Ball-Mart', 'F, yllow shirt, baggy red pants', 'horn, umbrella'),
    ("Mr. Hobo", 'BG Circus', 'M, cigar, black hair, tiny hat', 'violin'),
    ("Clarabelle", "Belmont Senior Center", "F, pink hair, huge flower, blue dress", "yelling, dancing"),
    ("Scooter", "Oakland Hospital", "M, blue hair, red suit, huge nose", "ballons"),
    ("Zippo", "Millston Mall", "F, orange suit, baggy pants", "dancing"),
    ("Babe", "Earl's Autos", "F, all pink and sparkly", "balancing, little car"),
    ("Bonzo", None, "M, in drag, polka dotted dress", "singing, dancing"),
    ("Sniffles", "Tracy's", "M, green and purple suit, pointy nose", None)
]

In [13]:
with conn:
    c = conn.cursor()
    c.executemany(
    """
    INSERT INTO clown_info
    VALUES (?, ?, ?, ?)
    """, data)
    conn.commit()
    c.execute(
    """
    SELECT * FROM clown_info
    """)
    for row in c.fetchall():
        print(row)

('Elsie', 'Cherry Hill Senior Center', 'F, red hair, green dress, huge feet', 'ballons, little car')
('Pickles', "Jack Green's party", 'M, orange hair, blue suit, huge feet', 'mime')
('Snuggles', 'Ball-Mart', 'F, yllow shirt, baggy red pants', 'horn, umbrella')
('Mr. Hobo', 'BG Circus', 'M, cigar, black hair, tiny hat', 'violin')
('Clarabelle', 'Belmont Senior Center', 'F, pink hair, huge flower, blue dress', 'yelling, dancing')
('Scooter', 'Oakland Hospital', 'M, blue hair, red suit, huge nose', 'ballons')
('Zippo', 'Millston Mall', 'F, orange suit, baggy pants', 'dancing')
('Babe', "Earl's Autos", 'F, all pink and sparkly', 'balancing, little car')
('Bonzo', None, 'M, in drag, polka dotted dress', 'singing, dancing')
('Sniffles', "Tracy's", 'M, green and purple suit, pointy nose', None)

In [5]:
c.execute(
"""
SELECT * FROM clown_info
WHERE last_seen IS NULL
OR activities IS NULL
""")
for row in c.fetchall():
    print(row)

('Bonzo', None, 'M, in drag, polka dotted dress', 'singing, dancing')
('Sniffles', "Tracy's", 'M, green and purple suit, pointy nose', None)

In [6]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    DELETE FROM clown_info
    WHERE activities = 'dancing';
    """)
    conn.commit()
    c.execute(
    """
    SELECT * FROM clown_info;
    """)
    for row in c.fetchall():
        print(row) # Note that Zippo is gone.

('Elsie', 'Cherry Hill Senior Center', 'F, red hair, green dress, huge feet', 'ballons, little car')
('Pickles', "Jack Green's party", 'M, orange hair, blue suit, huge feet', 'mime')
('Snuggles', 'Ball-Mart', 'F, yllow shirt, baggy red pants', 'horn, umbrella')
('Mr. Hobo', 'BG Circus', 'M, cigar, black hair, tiny hat', 'violin')
('Clarabelle', 'Belmont Senior Center', 'F, pink hair, huge flower, blue dress', 'yelling, dancing')
('Scooter', 'Oakland Hospital', 'M, blue hair, red suit, huge nose', 'ballons')
('Babe', "Earl's Autos", 'F, all pink and sparkly', 'balancing, little car')
('Bonzo', None, 'M, in drag, polka dotted dress', 'singing, dancing')
('Sniffles', "Tracy's", 'M, green and purple suit, pointy nose', None)

In [3]:
conn.close()
conn = sqlite3.connect("drinks.db")

In [4]:
from tools import *

In [5]:
res = table_info(conn, "drinks_info")

No such table in the database:  max() arg is an empty sequence

In [6]:
res

(1, None)

In [7]:
status, colnames = table_info(conn, "drink_info")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Key       |Default  |Extra  |
+------------+--------------+----------+----------+---------+-------+
|drink_name  |VARCHAR(30)   |1         |0         |None     |0      |
|cost        |DEC(2,2)      |1         |1         |None     |0      |
|carbs       |DEC(3, 2)     |0         |2         |None     |0      |
|color       |VARCHAR(30)   |0         |3         |None     |0      |
|ice         |CHAR(1)       |0         |4         |None     |0      |
|colories    |DEC(4, 2)     |0         |5         |None     |0      |
+------------+--------------+----------+----------+---------+-------+

In [8]:
status; colnames

['drink_name', 'cost', 'carbs', 'color', 'ice', 'colories']

In [11]:
show(conn, "SELECT * FROM drink_info")

+------------------+------------+-------------+-------------+-----------+----------------+
|drink_name        |cost        |carbs        |color        |ice        |colories        |
+------------------+------------+-------------+-------------+-----------+----------------+
|Blackthorn        |3           |8.4          |yellow       |Y          |33              |
|Blue Moon         |2.5         |3.2          |blue         |Y          |12              |
|Oh My Gosh        |3.5         |8.6          |orange       |Y          |35              |
|Lime Fizz         |2.5         |5.4          |green        |Y          |24              |
|Kiss on the Lips  |5.5         |42.5         |purple       |Y          |171             |
|Hot Gold          |3.2         |32.1         |orange       |N          |135             |
|Lone Tree         |3.6         |4.2          |red          |Y          |50              |
|Greyhound         |4           |14           |yellow       |Y          |50              |
|Indian Summer     |2.8         |7.2          |brown        |N          |30              |
|Bull Frog         |2.6         |21.5         |tan          |Y          |80              |
|Soda and It       |3.8         |4.7          |red          |N          |19              |
+------------------+------------+-------------+-------------+-----------+----------------+

In [12]:
show(conn, "SELECT drink_name, cost FROM drink_info")

+------------------+------------+
|drink_name        |cost        |
+------------------+------------+
|Blackthorn        |3           |
|Blue Moon         |2.5         |
|Oh My Gosh        |3.5         |
|Lime Fizz         |2.5         |
|Kiss on the Lips  |5.5         |
|Hot Gold          |3.2         |
|Lone Tree         |3.6         |
|Greyhound         |4           |
|Indian Summer     |2.8         |
|Bull Frog         |2.6         |
|Soda and It       |3.8         |
+------------------+------------+

In [13]:
conn = sqlite3.connect("clown.sql")

In [14]:
table_info(conn, 'clown_info')

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Key       |Default  |Extra  |
+------------+--------------+----------+----------+---------+-------+
|name        |VARCHAR(20)   |1         |0         |None     |0      |
|last_seen   |VARCHAR(50)   |0         |1         |None     |0      |
|appearance  |VARCHAR(50)   |0         |2         |None     |0      |
|activities  |VARCHAR(30)   |0         |3         |None     |0      |
+------------+--------------+----------+----------+---------+-------+

(0, ['name', 'last_seen', 'appearance', 'activities'])

In [17]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    UPDATE clown_info
    SET last_seen = 'Tracy''s'
    WHERE name = 'Mr. Hobo'
    AND last_seen = 'BG Circus'
    """
    )
    conn.commit()
    c.execute(
    """
    SELECT * FROM clown_info
    """
    )
    for row in c.fetchall():
        print(row)

('Elsie', 'Cherry Hill Senior Center', 'F, red hair, green dress, huge feet', 'ballons, little car')
('Pickles', "Jack Green's party", 'M, orange hair, blue suit, huge feet', 'mime')
('Snuggles', 'Ball-Mart', 'F, yllow shirt, baggy red pants', 'horn, umbrella')
('Mr. Hobo', "Tracy's", 'M, cigar, black hair, tiny hat', 'violin')
('Clarabelle', 'Belmont Senior Center', 'F, pink hair, huge flower, blue dress', 'yelling, dancing')
('Scooter', 'Oakland Hospital', 'M, blue hair, red suit, huge nose', 'ballons')
('Babe', "Earl's Autos", 'F, all pink and sparkly', 'balancing, little car')
('Bonzo', None, 'M, in drag, polka dotted dress', 'singing, dancing')
('Sniffles', "Tracy's", 'M, green and purple suit, pointy nose', None)

In [18]:
conn = sqlite3.connect("drinks.db")

In [19]:
show(conn, "SELECT * FROM drink_info")

+------------------+------------+-------------+-------------+-----------+----------------+
|drink_name        |cost        |carbs        |color        |ice        |colories        |
+------------------+------------+-------------+-------------+-----------+----------------+
|Blackthorn        |3           |8.4          |yellow       |Y          |33              |
|Blue Moon         |2.5         |3.2          |blue         |Y          |12              |
|Oh My Gosh        |3.5         |8.6          |orange       |Y          |35              |
|Lime Fizz         |2.5         |5.4          |green        |Y          |24              |
|Kiss on the Lips  |5.5         |42.5         |purple       |Y          |171             |
|Hot Gold          |3.2         |32.1         |orange       |N          |135             |
|Lone Tree         |3.6         |4.2          |red          |Y          |50              |
|Greyhound         |4           |14           |yellow       |Y          |50              |
|Indian Summer     |2.8         |7.2          |brown        |N          |30              |
|Bull Frog         |2.6         |21.5         |tan          |Y          |80              |
|Soda and It       |3.8         |4.7          |red          |N          |19              |
+------------------+------------+-------------+-------------+-----------+----------------+

In [29]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    UPDATE drink_info
    SET cost = cost + 1
    WHERE
    drink_name = 'Blue Moon'
    OR
    drink_name = 'Oh My Gosh'
    OR
    drink_name = 'Lime Fizz'
    """)

In [30]:
show(conn, "SELECT * FROM drink_info")

+------------------+------------+-------------+-------------+-----------+----------------+
|drink_name        |cost        |carbs        |color        |ice        |colories        |
+------------------+------------+-------------+-------------+-----------+----------------+
|Blackthorn        |3           |8.4          |yellow       |Y          |33              |
|Blue Moon         |3.5         |3.2          |blue         |Y          |12              |
|Oh My Gosh        |4.5         |8.6          |orange       |Y          |35              |
|Lime Fizz         |3.5         |5.4          |green        |Y          |24              |
|Kiss on the Lips  |5.5         |42.5         |purple       |Y          |171             |
|Hot Gold          |3.2         |32.1         |orange       |N          |135             |
|Lone Tree         |3.6         |4.2          |red          |Y          |50              |
|Greyhound         |4           |14           |yellow       |Y          |50              |
|Indian Summer     |2.8         |7.2          |brown        |N          |30              |
|Bull Frog         |2.6         |21.5         |tan          |Y          |80              |
|Soda and It       |3.8         |4.7          |red          |N          |19              |
+------------------+------------+-------------+-------------+-----------+----------------+