In [1]:
import sqlite3
from tools import *

In [2]:
conn = sqlite3.connect("clown.sql")

In [3]:
table_info(conn, "clown_info")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Column No.|Default  |Primal |
+------------+--------------+----------+----------+---------+-------+
|name        |VARCHAR(20)   |1         |0         |None     |0      |
|last_seen   |VARCHAR(50)   |0         |1         |None     |0      |
|appearance  |VARCHAR(50)   |0         |2         |None     |0      |
|activities  |VARCHAR(30)   |0         |3         |None     |0      |
+------------+--------------+----------+----------+---------+-------+

(0, ['name', 'last_seen', 'appearance', 'activities'])

In [4]:
show(conn, "SELECT name, activities FROM clown_info")

+------------+------------------+
|name        |activities        |
+------------+------------------+
|Elsie       |ballons, little car|
|Pickles     |mime              |
|Snuggles    |horn, umbrella    |
|Mr. Hobo    |violin            |
|Clarabelle  |yelling, dancing  |
|Scooter     |ballons           |
|Babe        |balancing, little car|
|Bonzo       |singing, dancing  |
|Sniffles    |None              |
+------------+------------------+

In [5]:
conn = sqlite3.connect("try_sql.db")

In [6]:
table_info(conn, "my_contacts")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Column No.|Default  |Primal |
+------------+--------------+----------+----------+---------+-------+
|contact_id  |INTEGER       |0         |0         |None     |1      |
|last_name   |VARCHAR(30)   |0         |1         |NULL     |0      |
|first_name  |VARCHAR(30)   |0         |2         |NULL     |0      |
|email       |VARCHAR(50)   |0         |3         |NULL     |0      |
|gender      |CHAR(1)       |0         |4         |NULL     |0      |
|birthday    |DATE          |0         |5         |NULL     |0      |
|profession  |VARCHAR(50)   |0         |6         |NULL     |0      |
|location    |VARCHAR(50)   |0         |7         |NULL     |0      |
|status      |VARCHAR(20)   |0         |8         |NULL     |0      |
|interests   |VARCHAR(20)   |0         |9         |NULL     |0      |
|seeking     |VARCHAR(100)  |0         |10        |NULL     |0      |
+------------+--------------+----------+----------+---------+-------+

(0,
 ['contact_id',
  'last_name',
  'first_name',
  'email',
  'gender',
  'birthday',
  'profession',
  'location',
  'status',
  'interests',
  'seeking'])

In [21]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    SELECT * FROM my_contacts;
    """
    )
    data = c.fetchall()

In [22]:
data

[(1,
  'Funyon',
  'Steve',
  'steve@gmail.com',
  'M',
  '1970-04-01',
  'Punk',
  "Gover's Mill, NJ",
  'Single',
  'smashing the state',
  'compatriots, guitar players')]

In [11]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    DROP TABLE my_contacts;
    """
    )

In [14]:
with conn:
    c = conn.cursor()
    c.execute(
    """
    CREATE TABLE my_contacts(
    contact_id INTEGER PRIMARY KEY,
    last_name VARCHAR(30) DEFAULT NULL,
    first_name VARCHAR(30) DEFAULT NULL,
    email VARCHAR(50) DEFAULT NULL,
    gender CHAR(1) DEFAULT NULL,
    birthday DATE DEFAULT NULL,
    profession VARCHAR(50) DEFAULT NULL,
    location VARCHAR(50) DEFAULT NULL,
    status VARCHAR(20) DEFAULT NULL,
    interests VARCHAR(20) DEFAULT NULL,
    seeking VARCHAR(100) DEFAULT NULL
    )
    """
    )
    for r in data:
        c.execute("INSERT INTO my_contacts VALUES {0}".format(r))

OperationalError: near "%": syntax error

In [18]:
for r in data:
    c.execute("INSERT INTO my_contacts (last_name, first_name, email, gender, birthday, profession, location, status, interests, seeking) VALUES {0}".format(r))

In [19]:
conn.commit()

In [20]:
show(conn, "SELECT * FROM my_contacts")

+------------------+-----------------+------------------+-------------+--------------+----------------+------------------+----------------+--------------+-----------------+---------------+
|contact_id        |last_name        |first_name        |email        |gender        |birthday        |profession        |location        |status        |interests        |seeking        |
+------------------+-----------------+------------------+-------------+--------------+----------------+------------------+----------------+--------------+-----------------+---------------+
|1                 |Funyon           |Steve             |steve@gmail.com|M             |1970-04-01      |Punk              |Gover's Mill, NJ|Single        |smashing the state|compatriots, guitar players|
+------------------+-----------------+------------------+-------------+--------------+----------------+------------------+----------------+--------------+-----------------+---------------+

In [8]:
table_info(conn, "my_contacts")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Column No.|Default  |Primal |
+------------+--------------+----------+----------+---------+-------+
|contact_id  |INTEGER       |0         |0         |None     |1      |
|last_name   |VARCHAR(30)   |0         |1         |NULL     |0      |
|first_name  |VARCHAR(30)   |0         |2         |NULL     |0      |
|email       |VARCHAR(50)   |0         |3         |NULL     |0      |
|gender      |CHAR(1)       |0         |4         |NULL     |0      |
|birthday    |DATE          |0         |5         |NULL     |0      |
|profession  |VARCHAR(50)   |0         |6         |NULL     |0      |
|location    |VARCHAR(50)   |0         |7         |NULL     |0      |
|status      |VARCHAR(20)   |0         |8         |NULL     |0      |
|interests   |VARCHAR(20)   |0         |9         |NULL     |0      |
|seeking     |VARCHAR(100)  |0         |10        |NULL     |0      |
+------------+--------------+----------+----------+---------+-------+

(0,
 ['contact_id',
  'last_name',
  'first_name',
  'email',
  'gender',
  'birthday',
  'profession',
  'location',
  'status',
  'interests',
  'seeking'])

In [9]:
conn = sqlite3.connect("clown.sql")

In [10]:
c = conn.cursor()

In [11]:
table_info(conn, "clown_info")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Column No.|Default  |Primal |
+------------+--------------+----------+----------+---------+-------+
|name        |VARCHAR(20)   |1         |0         |None     |0      |
|last_seen   |VARCHAR(50)   |0         |1         |None     |0      |
|appearance  |VARCHAR(50)   |0         |2         |None     |0      |
|activities  |VARCHAR(30)   |0         |3         |None     |0      |
+------------+--------------+----------+----------+---------+-------+

(0, ['name', 'last_seen', 'appearance', 'activities'])

In [13]:
c.execute(
    """
    ALTER TABLE clown_info
    ADD COLUMN test INT DEFAULT NULL;
    """)

In [14]:
conn.commit()

In [15]:
table_info(conn, "clown_info")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Column No.|Default  |Primal |
+------------+--------------+----------+----------+---------+-------+
|name        |VARCHAR(20)   |1         |0         |None     |0      |
|last_seen   |VARCHAR(50)   |0         |1         |None     |0      |
|appearance  |VARCHAR(50)   |0         |2         |None     |0      |
|activities  |VARCHAR(30)   |0         |3         |None     |0      |
|test        |INT           |0         |4         |NULL     |0      |
+------------+--------------+----------+----------+---------+-------+

(0, ['name', 'last_seen', 'appearance', 'activities', 'test'])

## SQLite Does not Support Adding primary key

- http://stackoverflow.com/questions/16182294/installing-mysql-python-on-mac-os-x

In [17]:
c.execute(
    """
    ALTER TABLE clown_info
    ADD COLUMN contact_id INT PRIMARY KEY;
    """)

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 4))

OperationalError: Cannot add a PRIMARY KEY column