In [1]:
import sqlite3
from tools import table_info

In [2]:
import sqlparse

In [3]:
sql_cmd = "SELECT * FROM table_test"

In [4]:
sqlparse.split(sql_cmd)

['SELECT * FROM table_test']

In [5]:
sqlparse.format(sql_cmd, reindent=True, keyword_case='upper')

'SELECT *\nFROM table_test'

In [6]:
sql_cmd = "SELECT * FROM table_test"

In [7]:
def _parse_columns(query):
    q = sqlparse.format(query, keyword_case = "upper")
    select_q, table_name, *_ = q.split("FROM")
    temp = select_q.split(" ")
    return [name.strip(",") for name in temp if name not in ['SELECT', '']], table_name.strip()

In [8]:
_parse_columns(sql_cmd)

(['*'], 'table_test')

In [21]:
def show(conn, query):
    colnames, table_name = _parse_columns(query)
    if len(colnames) == 1 and colnames[0] == '*':
        status, colnames = table_info(conn, table_name, False)
    col_len = list(map(lambda n: len(n), colnames))
    sep = '+'
    for l in col_len:
        sep += "-" * (l + 8) + '+'
    print(sep)
    header = "|"
    for ind in range(len(colnames)):
        header += "{" + str(ind) + ":<{0}".format(col_len[ind]+8) + "}|"
    print(header.format(*colnames))
    print(sep)
    c = conn.cursor()
    c.execute(query)
    data = c.fetchall()
    for d in data:
        print(header.format(*d))
    print(sep)

In [22]:
conn = sqlite3.connect("drinks.db")

In [23]:
t = show(conn, "SELECT * FROM drink_info")

+------------------+------------+-------------+-------------+-----------+----------------+
|drink_name        |cost        |carbs        |color        |ice        |colories        |
+------------------+------------+-------------+-------------+-----------+----------------+
|Blackthorn        |3           |8.4          |yellow       |Y          |33              |
|Blue Moon         |2.5         |3.2          |blue         |Y          |12              |
|Oh My Gosh        |3.5         |8.6          |orange       |Y          |35              |
|Lime Fizz         |2.5         |5.4          |green        |Y          |24              |
|Kiss on the Lips  |5.5         |42.5         |purple       |Y          |171             |
|Hot Gold          |3.2         |32.1         |orange       |N          |135             |
|Lone Tree         |3.6         |4.2          |red          |Y          |50              |
|Greyhound         |4           |14           |yellow       |Y          |50              |
|Indian Summer     |2.8         |7.2          |brown        |N          |30              |
|Bull Frog         |2.6         |21.5         |tan          |Y          |80              |
|Soda and It       |3.8         |4.7          |red          |N          |19              |
+------------------+------------+-------------+-------------+-----------+----------------+

In [58]:
from tools import table_info

In [24]:
table_info(conn, "drink_info")

+------------+--------------+----------+----------+---------+-------+
|Column      |Type          |Not NULL  |Key       |Default  |Extra  |
+------------+--------------+----------+----------+---------+-------+
|drink_name  |VARCHAR(30)   |1         |0         |None     |0      |
|cost        |DEC(2,2)      |1         |1         |None     |0      |
|carbs       |DEC(3, 2)     |0         |2         |None     |0      |
|color       |VARCHAR(30)   |0         |3         |None     |0      |
|ice         |CHAR(1)       |0         |4         |None     |0      |
|colories    |DEC(4, 2)     |0         |5         |None     |0      |
+------------+--------------+----------+----------+---------+-------+

(0, ['drink_name', 'cost', 'carbs', 'color', 'ice', 'colories'])